{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if subfolders or folder %}
<h2>Folders</h2>
<table>
  <tr>
    <th>Folder</th>
    <th>Home Page</th>
  </tr>
  {% if folder.parent %}
    <tr>
      <td><a href="{{ folder.parent.get_absolute_url }}">{{ subfolder.title }}</a> - Parent Folder</td>
      <td>{% if folder.parent.homepage %}<a href="{{ folder.parent.homepage }}">Home Page</a>{% endif %}</td>
    </tr>
  {% else %}
    {% if folder %}
    <tr>
      <td><a href="../">Downloads</a> - Parent Folder</td>
      <td></td>
    </tr>
    {% endif %}
  {% endif %}
  {% for subfolder in subfolders %}
    <tr>
      <td><a href="{{ subfolder.get_absolute_url }}">{{ subfolder.title }}</a></td>
      <td>{% if subfolder.homepage %}<a href="{{ subfolder.homepage }}">Home Page</a>{% endif %}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% if downloads %}
<h2>Download Files</h2>
<table>
  <tr>
    <th>File</th>
    <th>Size</th>
    <th>Version</th>
    <th>Release Date</th>
    <th>Home Page</th>
  </tr>
  {% for download in downloads %}
    <tr>
      <td><a rel="nofollow" href="{{ download.get_absolute_url }}">{{ download.file_name }}</a></td>
      <td>{{ download.file_size|filesizeformat }}</td>
      <td>{% if download.release_notes %}<a href="{{ download.get_release_url }}">{{ download.version }}</a> {% else %}{{ download.version }}{% endif %}
                {% if download == download.group.latest %} <img src="{% static "images/pastel-svg/16/star.png" %}" alt="latest"> {% endif %}
                </td>
      <td>{{ download.release_date|date }}</td>
      <td>{% if download.get_homepage %}<a href="{{ download.get_homepage }}">{{ download.title }}</a>{% endif %}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}