{% extends 'base.html' %}

{% block content_adds %}
<iframe scrolling="no" frameborder="0" allowtransparency="true" height="160" width="728" style="border:0;" src="http://d.delivery49.com/widget/render/hash/ebfff75b3b4f88d6ae8cdac5d8847e83"></iframe>
{% endblock %}

{% block content %}

<div class="release_notes">
    <h2>{{ folder.title }}</h2>
    <small>{{ folder.latest.description }}</small>
    <p>
    	There is no release notes for this version of <a href="{{ folder.homepage }}">{{ folder.title }}</a>.  The latest release notes are for <a href="{{ folder.latest.get_release_url }}">version {{ folder.latest.version }}</a>.
    </p>
</div>

{% endblock %}